
.tableHead {
    border-bottom: 1px solid #747678;
    background-color: #eeeeee;
    color: #a40000;
    cursor: pointer;
}


.tableBody tr:last-of-type {
    border-top: 1px solid #747678;
    background-color: #eeeeee;
    color: 4d0000;
}

td {
    border-bottom: 1px dotted #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

th {
    border-right: 1px solid #dfdfdf;
}

th:last-of-type {
    border-right: none;
}

tr td:last-of-type {
    border-right: none;
}

td, th {
    padding: 5px;
}

.teamsTable {
    border: 1px solid #747678;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.rightAlign {
    text-align: right;
}

.tableBody tr:hover {
    background-color: #ffff88;
}
